<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test</title>
    <script src="src/d3.v2.min.js" type="application/javascript"></script>
    <script src="src/timeknots.js" type="application/javascript"></script>
</head>
<body>
    <div id="timeline2" style="width:200px;height:450px;"></div>
    <script src="src/main.js"></script>
</body>
</html>
